{% extends 'pages/account/components/_sidenav.html.twig' %}

{% block breadcrumbtitle %}
	MON COMPTE
{% endblock %}

{% block breadcrumb %}
	{% if current_route == 'user_edit_profile' %}
		Mes infos
	{% elseif current_route == 'user_edit_avatar' %}
		Mon avatar
	{% elseif current_route == 'user_edit_password' %}
		Sécurité
	{% endif %}
{% endblock %}

{% block listtitle %}
	MON COMPTE
{% endblock %}

{% block list %}
	<li class="list-item {{ (current_route == 'user_edit_profile') ? 'active' : '' }}">
		<a class="list-link text-primary" href="{{ path ('user_edit_profile', { 'id': app.user.id }) }}">
			Mes infos
		</a>
	</li>
	<li class="list-item {{ (current_route == 'user_edit_avatar') ? 'active' : '' }}">
		<a class="list-link text-primary" href="{{ path ('user_edit_avatar') }}">
			Mon avatar
		</a>
	</li>
	<li class="list-item {{ (current_route == 'user_edit_password') ? 'active' : '' }}">
		<a class="list-link text-primary" href="{{ path ('user_edit_password', { 'id': app.user.id }) }}">
			Sécurité
		</a>
	</li>
	{% if is_granted('ROLE_EVOCATI') %}
		<li class="list-item">
			<a class="list-link text-primary" href="{{ path ('admin_request')}}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Admin Area">
				Admin Area
			</a>
		</li>
	{% endif %}
	<li class="list-item">
		<a class="list-link text-primary" href="{{ path ('security_logout', {'_csrf_token': csrf_token('logout')}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Deconnexion">
			Logout
		</a>
	</li>
{% endblock %}
